.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin-top: 20px;
}
.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: transform 250ms ease-in-out;
}
.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}
